[alias]
	co = checkout
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[user]
	name = Brian Malinconico
	email = bmalinconico@terminus.com
[push]
  default = current
[core]
	editor = nvim
[credential]
	helper = osxkeychain
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
